/* styles.css */
.root {
    -fx-background-image: url("../../img/clouds-2329680_1280.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.HBox{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.2, 0, 0);
}
/* table weather forecast */
.table-view {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Sfondo bianco semitrasparente */
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.2, 0, 0);
}

.table-view .column-header-background {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-padding: 0;
}

.table-view .table-cell {
    -fx-background-color: rgba(255, 255, 255, 0.2);

}

.table-view .column-header {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-padding: 5;
    -fx-border-width: 0;
}

.table-view .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}
.table-view .table-column > .label {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-font-size: 0;
}
/* Hide the horizontal scroll bar */
.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/* Hide the blank lines */
.table-row-cell:empty {
    -fx-background-color: transparent;
}

